*{
    margin:0;
    padding: 0;
}

.main{
    background: #F8F9FA;
}
/*navigation style*/
.header{
    display: flex;
    justify-content: flex-end;
}
.nav{
    width: calc(100% - 200px);
    background-color: #f8f9fa;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__search{
    padding-right: 15px;
}
.nav__sort{
    padding-left: 15px;
}
.nav__search{

}
.nav__button{
}
/*sidebar style*/
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: lightblue;
}

.sidebar__content{
    padding: 8px;
    font-size: 24px;
    display: block;
}
/*catalog style*/
.catalog{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: 200px;
}
.catalog__product{
    flex: 1 250px;
    max-width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #e4e5ec;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}
.catalog__photo{
    width: 180px;
    height: 250px;
}
.catalog__photo img{
    width: 100%;
    height: 150px;
}
.catalog__title{
    border-top: 2px solid #e4e5ec;;
    width: 270px;
    text-align: justify;
}
.catalog__price{
    width: 270px;
    display: flex;
    margin-top: 3px;
    justify-content: space-between;
}
.catalog__product:hover{
    border: 2px solid #61D5DF;
}